<!DOCTYPE html>
<html lang="en">

    <head>
        <title>insta485</title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div>
            <h1><a href="/">Insta485</a></h1>

            <h2><a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </h2>
        </div>

        <div>
            Followers <br>
            {% for follower in followers %}
                <img src="/uploads/{{ follower.user_filename }}" alt="post_image" style="width:42px;height:42px;">
                <a href="/users/{{ follower.username }}/">{{ follower.username }}</a>
                {% if follower.username != logname %} 
                    {% if follower.logname_follows_username %} following 
                    <form action="/following/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="unfollow" value="unfollow"/>
                    <input type="hidden" name="username" value="{{ follower.username }}"/>
                    <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                    {% endif %}
                    {% if not follower.logname_follows_username %} not following 
                    <form action="/following/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ follower.username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                    </form>
                    {% endif %}
                {% endif %}
                <br><br>
            {% endfor %}
        </div>
    </body>
</html>
