<!DOCTYPE html>
<html lang="en">

    <head>
        <title>insta485</title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div>
            <h1><a href="/">Insta485</a></h1>

            <h2><a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </h2>
        </div>

        <div>
            Following <br>
            {% for follow in following %}
                <img src="/uploads/{{ follow.user_filename }}" alt="post_image" style="width:42px;height:42px;">
                <a href="/users/{{ follow.username }}/">{{ follow.username }}</a>
                {% if follow.username != logname %} 
                    {% if follow.logname_follows_username %} following 
                    <form action="<FIXME_FOLLOWING_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
                    <input type="submit" name="unfollow" value="unfollow"/>
                    <input type="hidden" name="username" value="<FIXME_USERNAME_HERE>"/>
                    <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                    {% endif %}
                    {% if not follow.logname_follows_username %} not following 
                    <form action="<FIXME_FOLLOWING_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="<FIXME_USERNAME_HERE>"/>
                    <input type="hidden" name="operation" value="follow"/>
                    </form>
                    {% endif %}
                {% endif %}
                <br><br>
            {% endfor %}
        </div>
    </body>
</html>
