<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <h1><a href="/">Insta485</a></h1>
        <h2>
            <a href="/explore/">explore</a> |
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </h2>
    </div>

    {% for post in posts %}
    <!-- User and Timestamp -->
    <div>
        <a href="/users/{{ post.owner }}/">
            <img src="/uploads/{{ post.user_filename }}" alt="{{ post.owner }}" style="width:42px;height:42px;">
            
        </a>
        <a href="/users/{{ post.owner }}/">{{ post.owner }}</a>
        <a href="/posts/{{ post.postid }}/">{{ post.humanized }}</a>
    </div>

    <!-- Post -->
    <div>
        <img src="/uploads/{{ post.post_filename }}" alt="post_image" width="500" height="500">
    </div>

    <!-- Likes -->
    <div>
        {{ post.likes }} like{% if post.likes != 1 %}s{% endif %} <br><br>
    </div>

    <!-- Comments -->
    <div>
        {% for comment in post.comments %}
            <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a> {{ comment.text }}<br><br>
        {% endfor %}
    </div>
    {% if not post.liked %}
    <form action="<FIXME_LIKES_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="like"/>
    <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
    <input type="submit" name="like" value="like"/>
    </form>
    <br><br>

    {% else %}
    <form action="<FIXME_LIKES_URL_HERE>?target=<FIXME_CURRENT_PAGE_URL_HERE>" method="post" enctype="multipart/form-data">
    <input type="hidden" name="operation" value="unlike"/>
    <input type="hidden" name="postid" value="<FIXME_POST_ID_HERE>"/>
    <input type="submit" name="unlike" value="unlike"/>
    </form>
    <br><br>
    {% endif %}

    {% endfor %}

</body>
</html>
