<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <h1><a href="/">Insta485</a></h1>
        <h2>
            <a href="/explore/">explore</a> |
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </h2>
    </div>

    {% for post in posts %}
    <!-- User and Timestamp -->
    <div>
        <a href="/users/{{ post.owner }}/">
            <img src="{{ post.owner_img_url }}" alt="{{ post.owner }}" style="width:42px;height:42px;">
            
        </a>
        <a href="/users/{{ post.owner }}/">{{ post.owner }}</a>
        <a href="/posts/{{ post.postid }}/">{{ post.timestamp }}</a>
    </div>

    <!-- Post -->
    <div>
        <img src="{{ post.img_url }}" alt="post_image" width="500" height="500">
    </div>

    <!-- Likes -->
    <div>
        {{ post.likes }} like{% if post.likes != 1 %}s{% endif %} <br><br>
    </div>

    <!-- Comments -->
    <div>
        {% for comment in post.comments %}
            <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a> {{ comment.text }}<br><br>
        {% endfor %}
    </div>
    {% endfor %}

</body>
</html>
