<!DOCTYPE html>
<html lang="en">

<head>
    <title>insta485</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <div>
        <h1><a href="/">Insta485</a></h1>
        <h2>
            <a href="/explore/">explore</a> |
            <a href="/users/{{ logname }}/">{{ logname }}</a>
        </h2>
    </div>
 <img src="/uploads/{{ user_info.user_filename }}" alt="{{ logname }}" style="width:42px;height:42px;"> {{ logname }} <br>
<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
  <input type="password" name="password" required/><br>
  <input type="password" name="new_password1" required/><br>
  <input type="password" name="new_password2" required/><br>
  <input type="submit" name="update_password" value="submit"/><br>
  <input type="hidden" name="operation" value="update_password"/><br>
</form>



<a href="/accounts/edit/">Back to edit account</a> <br>

</body>
</html>