<!DOCTYPE html>
<html lang="en">

    <head>
        <title>insta485</title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>

    <body>
        <div>
            <h1><a href="/">Insta485</a></h1>

            <h2><a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </h2>
        </div>
    <!-- User and Timestamp -->
                <div>
                    <a href="/users/{{ post.owner }}/">
                    <img src="/uploads/{{ post.user_filename}}" alt="{{ owner }}" style="width:42px;height:42px;">
                    </a>
                    <a href="/users/{{ post.owner }}/">{{ post.owner }}</a>
                    <a href="/posts/{{ post.postid }}/">{{ post.humanized }} </a>
                </div>

                <!-- Post -->
                <div>
                    <img src="/uploads/{{ post.post_filename }}" alt="post_image" width="500" height="500">
                </div>

                <!-- Likes -->
                <div>
                    {{ post.likes }} like{% if post.likes != 1 %}s{% endif %} <br> <br> 
                </div>

                <!-- Comments -->
                <div>
                {% for comment in post.comments %}
                    <a href="/users/{{ comment.owner }}/">{{ comment.owner }}</a> {{ comment.text }}
                    {% if comment.owner == logname %}
                        <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="operation" value="delete"/>
                        <input type="hidden" name="commentid" value="{{ comment.commentid }}"/>
                        <input type="submit" name="uncomment" value="delete"/>
                        </form>
                    {% endif %}
                <br><br>
                {% endfor %}
                </div>
                {% if not post.liked %}
                    <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="operation" value="like"/>
                    <input type="hidden" name="postid" value="{{ post.postid }}"/>
                    <input type="submit" name="like" value="like"/>
                    </form>
                {% else %}
                    <form action="/likes/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="operation" value="unlike"/>
                    <input type="hidden" name="postid" value="{{ post.postid }}"/>
                    <input type="submit" name="unlike" value="unlike"/>
                    </form>
                
                {% endif %}
                <br>
                <form action="/comments/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="operation" value="create"/>
                <input type="hidden" name="postid" value="{{ post.postid }}"/>
                <input type="text" name="text" required/>
                <input type="submit" name="comment" value="comment"/>
                </form>

                {% if post.owner == logname %}
                <br>
                    <form action="/posts/?target=/users/{{ logname }}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="postid" value="{{ post.postid }}"/>
                    <input type="submit" name="delete" value="delete this post"/>
                    </form>
                {% endif %}

    </body>
</html>

