<!DOCTYPE html>
<html lang="en">

    <head>
        <title>insta485</title> 
    </head>

    <body>
        
        <!-- Top Heading -->
        <div>
            <h1><a href="/">Insta485</a></h1>
            <h2><a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </h2>

        </div>

        <!-- BIO -->
        <div>

            <h2>
                {{ username }}
            </h2>

            <h3>
                {% if username != logname %} 
                    {% if logname_follows_username %} following {% endif %}
                    {% if not logname_follows_username %} not following {% endif %}
                {% endif %}
                <br><br>
                {{ total_posts }} post{% if total_posts != 1 %}s{% endif %} 
                <a href="/users/{{ username }}/followers/">{{ followers }} follower{% if followers != 1 %}s{% endif %} </a> 
                <a href="/users/{{ username }}/following/">{{ following }} following</a>
            </h3>

            <h2>{{ fullname }}</h2>


        </div>

        <div>
            {% for post in posts %}
                <a href="/posts/{{ post.postid }}/"><img src="{{ post.img_url }}" alt="post_image" width="500" height="500"></a>
                
            {% endfor %}
        </div>
    </body>
</html>

    