<!DOCTYPE html>
<html lang="en">

    <head>
        <title>insta485</title> 
    </head>

    <body>
        
        <!-- Top Heading -->
        <div>
            <h1><a href="/">Insta485</a></h1>
            <h2><a href="/explore/">explore</a> |
                <a href="/users/{{ logname }}/">{{ logname }}</a>
            </h2>

        </div>

        <!-- BIO -->
        <div>

            <h2>
                {{ username }}
            </h2>
            {% if username != logname %} 
                {% if logname_follows_username %} following 
                    <form action="/following/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="unfollow" value="unfollow"/>
                    <input type="hidden" name="username" value="{{ username }}"/>
                    <input type="hidden" name="operation" value="unfollow"/>
                    </form>
                {% endif %}
                {% if not logname_follows_username %} not following 
                    <form action="/following/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                    <input type="submit" name="follow" value="follow"/>
                    <input type="hidden" name="username" value="{{ username }}"/>
                    <input type="hidden" name="operation" value="follow"/>
                    </form>
                {% endif %}
            {% else %}
                <a href="/accounts/edit/"> Edit Account</a>
                <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout"/>
                </form>
            {% endif %}


            <h3>
            <br><br>
            {{ total_posts }} post{% if total_posts != 1 %}s{% endif %} 
            <a href="/users/{{ username }}/followers/">{{ followers }} follower{% if followers != 1 %}s{% endif %} </a> 
            <a href="/users/{{ username }}/following/">{{ following }} following</a>
            </h3>

            <h2>{{ fullname }}</h2>


        </div>
            {% if logname == username %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/posts/?target={{ request.path }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required/>
                <input type="submit" name="create_post" value="upload new post"/>
                <input type="hidden" name="operation" value="create"/>
                </form>
            {% endif %}
            <br><br>
        <div>
            {% if total_posts == 0 %}
                    No posts yet.
            {% else %}
                {% for post in posts %}
                    <a href="/posts/{{ post.postid }}/"><img src="/uploads/{{ post.post_filename }}" alt="post_image" width="500" height="500"></a>
                {% endfor %}
            {% endif %}
            
        </div>

    </body>
</html>

    